@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
.accordion-attendee {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.25rem;
  border-top: 1px solid #BBB;
  padding: 1.5rem 0 0 0;
}
.accordion-attendee .accordion-attendee-header {
  display: flex;
  gap: 1.5rem;
}
.accordion-attendee .accordion-attendee-header .accordion-attendee-header-title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.25rem;
}
.accordion-attendee .accordion-attendee-header .accordion-attendee-header-icon {
  max-width: 35px;
}
.accordion-attendee .accordion-attendee-header .accordion-attendee-header-icon img {
  aspect-ratio: 1;
}
.accordion-attendee .accordion-attendee-steps {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.accordion-attendee .accordion-attendee-steps .accordion-attendee-steps-text {
  font-size: 0.875rem;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}
.accordion-attendee .accordion-attendee-steps .accordion-attendee-steps-text strong {
  font-weight: 700;
  margin: 0.25rem;
}
.accordion-attendee .accordion-attendee-steps .general-form-information {
  display: flex;
  border: 1px solid #CCC;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  gap: 2rem;
}
.accordion-attendee .accordion-attendee-steps .general-form-information .general-form-information-info-box {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.25rem;
  gap: 0.25rem;
}
.accordion-attendee .accordion-attendee-steps .general-form-information .general-form-information-info-box label {
  font-weight: 700;
  font-size: 0.8125rem;
}
.accordion-attendee .accordion-attendee-steps .general-form-information .general-form-information-info-box p {
  font-size: 0.75rem;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 205px;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 0.25rem;
  gap: 1rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #CCC;
  gap: 0.25rem;
  height: 4.5rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box .attendee-reg-portal-box-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box .attendee-reg-portal-box-header .attendee-reg-portal-box-header-icon {
  max-width: 24px;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box .attendee-reg-portal-box-header .attendee-reg-portal-box-header-icon img {
  aspect-ratio: 1;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box .attendee-reg-portal-box-header label {
  font-weight: 700;
  color: #222;
  font-size: 0.8125rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box p {
  font-size: 0.75rem;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 205px;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box-add {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #CCC;
  gap: 0.25rem;
  height: 4.5rem;
  justify-content: center;
  align-items: center;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box-add .attendee-reg-portal-box-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box-add .attendee-reg-portal-box-header .attendee-reg-portal-box-header-icon {
  max-width: 24px;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box-add .attendee-reg-portal-box-header .attendee-reg-portal-box-header-icon img {
  aspect-ratio: 1;
}
.accordion-attendee .accordion-attendee-steps .attendee-reg-portal .attendee-reg-portal-box-add p {
  font-size: 0.75rem;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 205px;
  text-align: center;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #393551;
  gap: 1rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.25rem;
  gap: 1rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col2 .attendee-reg-portal-box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #CCC;
  gap: 0.25rem;
  height: 4.5rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col2 .attendee-reg-portal-box .attendee-reg-portal-box-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col2 .attendee-reg-portal-box .attendee-reg-portal-box-header .attendee-reg-portal-box-header-icon {
  max-width: 24px;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col2 .attendee-reg-portal-box .attendee-reg-portal-box-header .attendee-reg-portal-box-header-icon img {
  aspect-ratio: 1;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col2 .attendee-reg-portal-box .attendee-reg-portal-box-header label {
  font-weight: 700;
  color: white;
  font-size: 0.8125rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col2 .attendee-reg-portal-box p {
  color: white;
  font-size: 0.75rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 0.25rem;
  gap: 1rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col3 .attendee-reg-portal-box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #CCC;
  gap: 0.25rem;
  height: 4.5rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col3 .attendee-reg-portal-box .attendee-reg-portal-box-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col3 .attendee-reg-portal-box .attendee-reg-portal-box-header .attendee-reg-portal-box-header-icon {
  max-width: 24px;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col3 .attendee-reg-portal-box .attendee-reg-portal-box-header .attendee-reg-portal-box-header-icon img {
  aspect-ratio: 1;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col3 .attendee-reg-portal-box .attendee-reg-portal-box-header label {
  font-weight: 700;
  color: white;
  font-size: 0.8125rem;
}
.accordion-attendee .accordion-attendee-steps .attendee-exhibitor-portal .attendee-exhibitor-portal-col3 .attendee-reg-portal-box p {
  color: white;
  font-size: 0.75rem;
  margin-block-start: 0;
  margin-block-end: 0;
}/*# sourceMappingURL=accordion-attendee-main.css.map */