@use "../../styles/theme" as t;
@use "../../styles/colors" as c;
@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.accordion-attendee {
	@include m.col;
	gap: 1.5rem;
	border-radius: 0.25rem;
	border-top: 1px solid c.$form-top-border;
	padding: 1.5rem 0 0 0;
	.accordion-attendee-header {
		@include m.row;
		gap: 1.5rem;
		.accordion-attendee-header-title {
			@include m.margin-b-se;
			font-size: v.$page-h3;
		}
		.accordion-attendee-header-icon {
			max-width: 35px;
			img {
				aspect-ratio: 1;
			}
		}
	}
}