$edit-event-button: #5C00DC;
$edit-event-button-text-color: white;

$form-wrapper-background-color: lightgray;

$main-form-body-background-color: white;

$form-top-border: #BBB;

$general-form-infobox-border: #CCC;
$attendee-reg-portal-header-label: #222;