$max-form-page-size: 1024px;

$page-h1: 2rem;
$page-h2: 1.5rem;
$page-h3: 1.25rem;
$page-h4: 0.875rem;
$page-title-subtitle-font-size: 1rem;

$edit-button-font-size: 0.875rem;

$general-form-information-label: 0.8125rem;
$general-form-information-info: 0.75rem;